* {
  padding: 0;
  margin: 0;
}

main {
  min-height: 80vh;
}

h3 {
  padding: 1rem 0;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

/* ================================================== */
/* ======================Nav Bar==================== */
/* ================================================== */

.brand {
  width: 200px;
}

.navbar {
  background-color: #fff;
}

#navbar .nav-link {
  color: #333;
}

.searchBox {
  border-radius: 25px;
  margin: auto;
  border: 2px solid #ddd;
  padding: 10px 10px;
  width: 20vw;
}

.searchBox:focus {
  outline: none;
  box-shadow: 0px 0px 2px #555;
}

.search-result {
  position: relative;
  z-index: 1;
}

.match-list {
  z-index: 10;
  position: absolute;
  background-color: #fff;
  border-radius: 5px;
  margin-top: 5%;
  box-shadow: 0px 0px 2px #ccc;
}

.match-list-image {
  float: left;
  border-radius: 50%;
  width: 10%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.match-list-text {
  float: right;
  text-align: center;
  width: 90%;
  font-size: 10px;
  margin-top: 5%;
  margin-bottom: 5%;
}

/* ================================================== */
/* ======================Menu Bar==================== */
/* ================================================== */

#menu-header {
  background-color: #000;
  height: 8vh;
  width: 100vw;
}

#menu-header ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#menu-header > ul {
  display: flex;
  margin: 0 50px;
  position: relative;
}

#menu-header > ul > li > span {
  display: block;
  line-height: 8vh;
  cursor: pointer;
  padding: 0 20px;
  font-size: 14px;
}

#menu-header > ul > li > span:hover {
  color: #ddd;
}

#menu-header > ul > li > ul {
  position: absolute;
  background: white;
  right: 0;
  left: 0;
  display: none;
  border: 1px solid #cecece;
}

#menu-header > ul > li:hover ul {
  display: block;
}

#menu-header > ul > li > ul > li {
  margin: 0 20px;
  float: left;
}
#menu-header > ul > li > ul > li > a {
  font-weight: bold;
  color: #000;
}

#menu-header > ul > li > ul > li a {
  padding: 2px 0;
  display: block;
  text-decoration: none;
}

.rating span {
  margin: 0.1rem;
}

/* ================================================== */
/* ======================Products==================== */
/* ================================================== */

#fluid {
  width: 92vw;
}

@media (max-width: 800px) {
  #menu-header {
    display: none;
  }
}
