* {
  padding: 0;
  margin: 0;
}

main {
  min-height: 80vh;
}

h3 {
  padding: 1rem 0;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

/* ================================================== */
/* ======================Nav Bar==================== */
/* ================================================== */

.brand {
  width: 200px;
}

.navbar {
  background-color: #fff;
}

#navbar .nav-link {
  color: #333;
}

.searchBox {
  border-radius: 25px;
  margin: auto;
  border: 2px solid #ddd;
  padding: 10px 10px;
  width: 20vw;
}

.searchBox:focus {
  outline: none;
  box-shadow: 0px 0px 2px #555;
}

.search-result {
  position: relative;
  z-index: 1;
}

.match-list {
  z-index: 10;
  position: absolute;
  background-color: #fff;
  border-radius: 5px;
  margin-top: 5%;
  box-shadow: 0px 0px 2px #ccc;
}

.match-list-image {
  float: left;
  border-radius: 50%;
  width: 10%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.match-list-text {
  float: right;
  text-align: center;
  width: 90%;
  font-size: 10px;
  margin-top: 5%;
  margin-bottom: 5%;
}

/* ================================================== */
/* ======================Menu Bar==================== */
/* ================================================== */

#menu {
  background-color: #000;
  height: 5vh;
}

#menu .menu-links {
  margin: 0 auto;
  padding: 0;
}

.rating span {
  margin: 0.1rem;
}

.carousel {
  text-align: center;
}

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}
.carousel-caption {
  top: 0;
  padding: 10px;
  box-sizing: border-box;
}

.carousel-caption h2 {
  color: #fff;
}

.carousel img {
  height: 300px;
  padding: 40px;
  margin: 40px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}
.carousel a {
  margin: 0 auto;
}

@media (max-width: 900px) {
  #OrderNumber {
    font-size: 20px;
  }
  .carousel-caption h2 {
    font-size: 2.5vw;
  }
}
